.git/
.github/
.tmp
backup/
cache/
db/
kamome/
run/
static/
view/
.dockerignore
.env
.env.example
.gitignore
.gitmodules
Dockerfile
Makefile
deploy.sh
design
docker-compose.yml
**/hie.yaml
karasu.cabal
stack.yaml.lock

**/.stack-work
**/dist-newstyle
**/.stylish-haskell.yaml
**/*.md
**/LICENSE
