[submodule "kamome"]
	path = kamome
	url = https://github.com/Krasjet/kamome
[submodule "pandoc-utils"]
	path = pandoc-utils
	url = https://github.com/Krasjet/pandoc-utils
[submodule "libkst"]
	path = libkst
	url = https://github.com/Krasjet/libkst
[submodule "fl.tr"]
	path = fl.tr
	url = https://github.com/Krasjet/fl.tr
