name: docker
on:
  schedule:
    - cron: '0 */3 * * *' # every 3 hours
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: krasjet/karasu
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
        tags: "latest"
        tag_names: true
